// Place all the styles related to the jalpoint controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the PointManagement controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1.title {
	font-size: 20pt;
	color: rgb(255, 0, 0);
}


.form {
	margin: 15px 10px;
}


.form tr td {
	color: rgb(255, 255, 255);
	background-color: rgb(255, 89, 89);
	padding: 0px 20px;
	font-size: 14pt;
}

.regist {
	display       : inline-block;
	width: 200px;
	height: 30px;
	border-radius : 10%;          /* 角丸       */
	font-size     : 10pt;        /* 文字サイズ */
	text-align    : center;      /* 文字位置   */
	cursor        : pointer;     /* カーソル   */
	//padding       : 10px 10px;   /* 余白       */
	background    : linear-gradient(#f19614,#f57600);     /* 背景色     */
	color         : #ffffff;     /* 文字色     */
	//line-height   : 1em;         /* 1行の高さ  */
	transition    : .15s;         /* なめらか変化 */
	box-shadow    : 1px 1px 1px #b9b8b8;  /* 影の設定 */
	border        : 2px solid #DDD;    /* 枠の指定 */  
}

.disabled {
    color:#dddddd;
}
.regist:hover {
	box-shadow    : none;        /* カーソル時の影消去 */
	//color         : linear-gradient(#f19614,#f57600);     /* 背景色     */
	background    : #fd0000;     /* 文字色     */
	//border        : 2px solid rgb(0, 0, 0);    /* 枠の指定 */  
}

.result {
	border: thin solid black; 
	text-align: center;
	border-collapse: collapse;
	//table-layout: fixed;
}

.result table {
	border: thin solid black;
}

.result td {
	border: thin solid black; 
}
.result th {
	border: thin solid gray;
	//border-left: black;
	//border-right: black;
	background-color: rgb(38, 18, 110);
	color: rgb(255, 255, 255);
	font-size: 10pt;
	padding: 2px;
	table-layout: fixed;
}

.reg thead, tbody {
    //display: block;
}

.reg tbody {
	//overflow-y: scroll;
    //height: 150px;
}

.jalpoint tr td {
	//background-color: #eee;
	color: #666;
	padding: 10px 5px;
}


td.msg {
	font-size:12pt;
}
td.name {
	font-size:12pt;
}
td.mail {
	font-size:12pt;
}
td.time {
	font-size:9pt;
}


div.footer {
	border-style:solid;
	border-width: 1px 0px 0px 0px;
	border-color: #999;
	margin: 50px 0px 0px 0px;
	padding: 3px 0px 0px 0px;
	color: #999;
	font-size: 12pt;
	text-align:right;
	font-size:9pt;
}